<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>

  <div style="display:flex">
    <div
      style="margin: 5px; border:1px solid; cursor: pointer;"
      (click)="showChart(true)"
      [style.background-color]="tabIndex == 1? 'steelblue':undefined"
      [style.color]="tabIndex == 1? 'white':undefined"
    >
      Stacked Timeseries Bar Chart
    </div>
    <div
      style="margin: 5px; border:1px solid; cursor: pointer;"
      (click)="showChart(false)"
      [style.background-color]="tabIndex == 2? 'steelblue':undefined"
      [style.color]="tabIndex == 2? 'white':undefined"
    >
      Regular Stacked Bar Chart
    </div>
    <div style="margin: 5px; border:1px solid; cursor: pointer;"
         (click)="ShowGlidePaths = !ShowGlidePaths"
         [style.background-color]="'steelblue'"
         [style.color]="'white'">
      {{(!ShowGlidePaths?'Show':'Hide')}} Glide Paths
    </div>
  </div>
  <jj-stacked-chart *ngIf="tabIndex==1"
                    #stackedChart
                    [IsTimeScale]="true"
                    XKeyProperty="date"
                    [Data]="Data"
                    [Bar1Colors]="BarChartThemeSet[0]?.Colors"
                    [Bar2Colors]="BarChartThemeSet2[0]?.Colors"
                    [GlidePaths]="GlidePaths" 
                    [ShowGlidePaths]="ShowGlidePaths"
                    [DoRotateXLabels]="true"></jj-stacked-chart>
  <jj-stacked-chart *ngIf="tabIndex==2"
                    #stackedChart2
                    [IsTimeScale]="false"
                    [Data]="Data"
                    [Bar1Colors]="BarChartThemeSet[0]?.Colors"
                    [Bar2Colors]="BarChartThemeSet2[0]?.Colors"
                    XKeyProperty="name"></jj-stacked-chart>
  <!-- <jj-bar-chart *ngIf="tabIndex==2" #barChart></jj-bar-chart> -->
</div>