<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>

  <div style="display:flex">
    <div
      style="margin: 5px; border:1px solid; cursor: pointer;"
      (click)="showChart(true)"
      [style.background-color]="tabIndex == 1? 'steelblue':undefined"
      [style.color]="tabIndex == 1? 'white':undefined"
    >
      Stacked Bar Chart
    </div>
    <div
      style="margin: 5px; border:1px solid; cursor: pointer;"
      (click)="showChart(false)"
      [style.background-color]="tabIndex == 2? 'steelblue':undefined"
      [style.color]="tabIndex == 2? 'white':undefined"
    >
      Regular Bar Chart
    </div>
  </div>
  <jj-stacked-chart *ngIf="tabIndex==1" #stackedChart></jj-stacked-chart>
  <jj-bar-chart *ngIf="tabIndex==2" #barChart></jj-bar-chart>
</div>
